*{margin:0px; padding:0px;}
.wrapAroundMenuElement{
    width: 200px;
    height: 100%;
    background: rgba(255,255,255,0.4);
    text-align: center;
    position: fixed;
    z-index: -1;
}
.wrapAroundMenuElement li{
    padding:12px;
    border-radius:0px;
    background:rgba(255, 000, 000, 0.8);
    text-align:center;
    font-size: 28px;
    color: #000;
    border-bottom:solid 0.5px black;
    display: block;
    margin-top: 2px;
    box-shadow: 2px 2px 5px black;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background:#123456;
}

.search{
    padding:8px;
    background:#fff;
    border-radius:5px;
    box-shadow: 2px 2px 5px black;
}

.division{
    margin-left: 200px;
    height:1024px;
}
.head{
    width: 100%;
    height: 5%;
    background: #fff;
    z-index: 1;
}
.button{
    width: 20%;
    background: white;
    border: #000 1px solid;
    display: inline-block;
    justify-content: space-between;
    font-size: 18px;
    padding: 12px;
}