body{
    color: blanchedalmond;
    background-color: black;
    text-align: center;
    font-size: 40px;
    font-family:comic sans ms;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    
}

a:hover{
          color: crimson;
}
