*{
    margin:0px;
}
body{
    color: #000;
    background: linear-gradient(to right,#ffaacc,#f6cc88);
    font-size: 20px;
    font-family:comic sans ms;
}

ul{
    list-style-type: none;
    display: inline-flex;
    
}
ul li{
    padding-left: 10px;
    border: 1px solid #000;
}
a{
    text-decoration: none;
}

a:hover{
          color:#000;
}
.contents-parent .contents{
    width: 40%;
    height: 40%;
    background: #fff;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    border: 1.5px solid #000;
}
.contents p{
    padding: 5px;
    color: black;
}
.owner{
    margin-bottom: 10px;
    padding: 5px;
    color: black;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}
.wrap-list-item ul li{
    background-color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
.backInStack{
    width: 90%;
    height: 25%;
    background-color: #bbb2e9;
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: -1;
    border-radius: 0px 0px 25px 0px;

}
.backInStack1{
    width: 90%;
    height: 25%;
    background-color: #bbb2e9;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    border-radius: 25px 0px 0px 0px;

}